div.main-wrapper {
    padding: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 255);
    gap: 3vh;
}

div.main-wrapper div ul li {
    list-style: inside;
}

div.main-wrapper div table,
td {
    text-align: center;
    margin: 1vh auto 0vh auto;
    padding: 3px;
    border: solid 1px black;
}

div.blog-card {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 0vh 0vh 3vh 0vh;
    border-radius: 10px;
}

div.blog-card a {
    font-size: 1.5rem;
    color: black;
    transition: .3s;
}

div.blog-card div {
    margin: 1.5vh 0vh 0vh 0vh;
    gap: 1rem;
}

div.blog-card div p {
    color: rgb(77, 77, 77);
}

div.blog-card div a {
    min-width: 300px;
    max-width: 300px;
    align-content: center;
}


div.blog-card div a img {
    width: 100%;
}

div.blog-card div a img:hover {
    transform: scale(1.01);
    opacity: 85%;
}

div.blog-card a:hover {
    color: #3179d8;
}

div.support-card {
    background-color: white;
    padding: 20px;
    margin: 0vh 0vh 2vh 0vh;
    border-radius: 10px;
    text-align: center;
}

div.support-card p {
    margin: 0px 0px 5px 0px;
    border-bottom: solid 2px black;
}

@media screen and (min-width: 650px) and (max-width: 1024px) {
    div.blog-card {
        text-align: unset;
    }

    div.blog-card a {
        font-size: 1.8rem;
        color: black;
    }

    div.blog-card div {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    div.main-wrapper {
        flex-direction: row;
        align-items: normal;
        gap: 3vh;
    }

    div.blog-card {
        text-align: unset;
    }
}

@media screen and (min-width: 1025px) {
    div.main-wrapper {
        width: 94vh;
        flex-direction: row;
        align-items: normal;
        gap: 3vh;
    }

    div.blog-card {
        text-align: unset;
    }

    div.blog-card a {
        font-size: 1.8rem;
        color: black;
    }

    div.blog-card div {
        display: flex;
    }

    div.blog-card div img {
        width: 35vh;
        transition: .5s;
    }

}