/* *Contact */
main.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

div#contact {
    width: 65%;
    align-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    transition: .3s;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input,
textarea,
button.contact-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
}

textarea {
    height: 15vh;
    resize: vertical;
}

button.contact-btn {
    cursor: pointer;
    background-color: var(--03);
    color: white;
    border: none;
    font-size: 16px;
}

button.contact-btn:hover {
    background-color: var(--04);
}

div#sosmed {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div#sosmed div {
    display: flex;
    gap: 2vh;
}

a.sosmed-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vh;
    padding: 10px;
    background-color: white;
    border: var(--03) solid 1px;
    border-radius: 10px;
    color: var(--03);
    transition: .3s;
}

a.sosmed-btn:hover {
    background-color: var(--03);
    color: white;
}

a.sosmed-btn {
    color: black;
}

@media screen and (min-width: 758px) and (max-width: 1024px) {
    div#contact {
        width: 30rem;
    }
}

@media screen and (min-width: 1025px) {
    div#contact {
        width: 35rem;
    }
}

/* *End Contact */