/* *Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #202020;
    width: 100%;
    height: 10vh;
    position: relative;
    bottom: 0;
    z-index: 0;
}

footer div {
    transition: .3s;
}

footer div ul.foot_links {
    display: flex;
    justify-content: center;
    gap: 1vh;
    margin: 1vh;
}

footer div ul.foot_links li {
    list-style-type: none;
}

footer div ul.foot_links li a,
footer div p {
    text-align: center;
    align-content: center;
    color: white;
    text-decoration: none;
    font-size: small;
}

footer div ul.foot_links li a:hover {
    color: #3179d8;
}

@media screen and (min-width: 758px) and (max-width: 1024px) {
    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10vh;
    }
}

@media screen and (min-width: 1025px) {
    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20vh
    }
}

/* *End Footer */