:root {
	--01: #1d34f5;
	--02: #931df5;
	--03: #4c1ef5;
	--04: #1d78f5;
	--05: #d91df5;
	--06: #ffae17;
	--07: #2f2f2f;
}

* {
	margin: 0;
	padding: 0;
	/* font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal; */
}

body {
	background-color: var(--07);
	text-align: center;
	color: var(--06);
	font-family: "Kanit", sans-serif;
}

/* Awal nav line 13 - 20 */

nav {
	font-family: "Archivo Black", sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100000;
}

/* .sticky syncron dengan JS */

nav.sticky {
	padding: 5px 100px;
	background: var(--06);
}

nav .logo {
	position: relative;
	font-weight: 700;
	color: var(--06);
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
	text-decoration: none;
}

nav ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul li {
	position: relative;
	list-style: none;
	cursor: pointer;
}

nav ul li a {
	position: relative;
	text-decoration: none;
	padding: 10px;
	margin: 0 10px;
	border-radius: 10px;
	color: var(--06);
	letter-spacing: 2px;
	font-weight: 700px;
	transition: 0.6s;
}

nav.sticky .logo,
nav.sticky ul li a {
	color: var(--07);
}

/* Akhir nav dari line 13 - 20 */

/* Section Banner */

.banner {
	position: relative;
	width: 100%;
	height: 11.9vh;
	/* background: url(bg.jpg); 
	background-size: cover; */
}

/* Section Banner */

.container {
	border-bottom: #ffae17 solid 1px;
	padding: 15px;
}

#prof {
	font-family: "Archivo Black", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skills,
.tools {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 5px;
}

.logoStyle {
	width: 50px;
	padding: 5px;
}

/* Awal Footer */

footer {
	bottom: 0;
}

/* Akhir Footer */

nav ul li a:hover {
	transition: ease-in-out 0.5s;
	background-color: var(--06);
	color: #2f2f2f;
}

nav.sticky ul li a:hover {
	background-color: var(--07);
	color: #ffae17;
}
