:root {
  --01: #bfc5d9;
  --02: #163e8c;
  --03: #215ba6;
  --04: #194073;
  --05: #4d5d73;
  --06: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
  font-family: "kanit", serif;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--06);
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.scrollup {
  padding: 1vh 1.5vh 1vh 1.5vh;
  position: fixed;
  bottom: 5vh;
  right: 1vh;
  cursor: pointer;
  border-radius: 50px;
  background-color: var(--01);
  opacity: 0%;
  transition: 0.3s;
}

.container {
  margin: 0vh 3vh 0vh 3vh;
}

/* *Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

div.banner {
  width: 100%;
  height: 8vh;
  background-color: red;
}

div.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#profile_top {
  width: 100%;
  margin: 2vh;
  text-align: center;
}

div#profile_top #mepng {
  width: 32vh;
  filter: drop-shadow(4px 4px 4px black);
}

div#profile_top {
  width: 35vh;
}

div#my_project {
  width: 100%;
  margin: 5vh 0vh 0vh 0vh;
  text-align: center;
}

div.card {
  margin: 0vh 0vh 10vh 0vh;
}

div.card img {
  margin: 2vh 2vh 2vh 2vh;
  width: 250px;
  border-radius: 10px;
}

div.card p a {
  color: black;
}

div.card img:hover {
  transform: scale(1.2);
  transition: .3s;
}

div.card p a:hover {
  color: var(--02);
}

/* *End Main */

@media screen and (min-width: 758px) and (max-width: 1024px) {
  #menu {
    display: none;
  }

  div#profile_top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 85vh;
    gap: 2vh;
  }

  div#profile_top div {
    width: 35vh;
  }

  div.card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 2048px) {

  div#profile_top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100vh;
    gap: 2vh;
  }

  div#profile_top div {
    width: 35vh;
  }

  div.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}