:root {
  --01: #bfc5d9;
  --02: #163e8c;
  --03: #215ba6;
  --04: #194073;
  --05: #4d5d73;
  --06: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
  font-family: "kanit", serif;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--06);
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.scrollup {
  padding: 1vh 1.5vh 1vh 1.5vh;
  position: fixed;
  bottom: 5vh;
  right: 1vh;
  cursor: pointer;
  border-radius: 50px;
  background-color: var(--01);
  opacity: 0%;
  transition: 0.3s;
}